/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body::-webkit-scrollbar {
    width: .7em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    outline: 1px solid var(--white);
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #1889CD;
    --black: #030306;
    --gray: #AFAFAF;
    --white: #FFFFFF;
    --bgLightBlue: #F8FCFE;
    --bgDarkBlue: #001B43;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 9999;
    background-color: var(--bgDarkBlue);
    color: var(--white);
}

/* NAV */
nav {
    padding: 30px 0 !important;
    margin-bottom: 40px;
}

nav .nav-link {
    width: 130px;
    margin: 0 15px;
    text-align: center;
}

nav .logo {
    margin: 0 50px;
}

/* .sticky-top.scrolled {
    background-color: var(--bgLightBlue) !important;
    transition: background-color 200ms linear;
} */

/* HEADER */
header {
    background-image: linear-gradient(white, #1889CD);
    padding-bottom: 80px;
}

header .content {
    padding-top: 72px;
    text-align: center;
}

header .content h1 {
    font-size: 48px;
}

header .content p {
    margin-top: 20px;
    font-size: 18px;
}

header .content img {
    margin-top: 50px;
}

/* header .content h5 {
    margin: -130px 0 0 60px;
    text-align: left;
    color: var(--white);
    font-size: 40px;
    text-shadow: 2px 2px var(--black);
} */

/* MITRA */
.mitra {
    background-color: var(--bgLightBlue);
}

.mitra .content {
    padding: 50px 0;
}

/* TENTANG */
.tentang {
    padding: 100px 0;
    background-color: #E9F4FA;
}

.tentang .content h1 {
    text-align: center;
}

.tentang .content .logo {
    background-color: var(--primary);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.tentang .content .row {
    padding-top: 50px;
}

.tentang .content .card {
    border-radius: 25px !important;
    padding-bottom: 10px;
    border: 0;
    box-shadow: rgba(187, 187, 212, 0.2) 0px 7px 29px 0px;
}

.tentang .content .card .card-text {
    margin-top: 16px;
    min-height: 120px;
    font-size: 16px;
    line-height: 30px;
}

/* SEJARAH */
.sejarah {
    background-color: var(--primary);
    color: var(--white);
}

.sejarah .row .col-xl-6 {
    margin: 0;
}

.sejarah .row .s-text p {
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
}

.sejarah .row .s-gambar {
    padding: 0;
}

.sejarah .row .s-gambar img {
    width: 100%;
}

/* VISI MISI */
.visi {
    padding-top: 100px;
}

.visi .col-lg-6 h1 {
    margin-bottom: 30px;
}

.visi .col-lg-6 p {
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
}

/***** MISI *****/
.misi {
    padding-top: 105px;
    padding-bottom: 55px;
}

.misi .col-lg-6 h1 {
    margin-bottom: 30px;
}

.misi .col-lg-6 p {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
}

/* PENGHARGAAN  */
.penghargaan {
    padding: 100px 0;
}

.penghargaan .content h1 {
    text-align: center;
}

.penghargaan .content .row {
    margin-top: 85px;
}

.penghargaan .content .row .card {
    padding: 10px;
    border-radius: 25px;
    border: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 16px;
    transition: box-shadow .5s;
}

.penghargaan .content .row .card:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);

}

.penghargaan .content .row .card .card-title {
    min-height: 90px;
    margin-top: 5px;
    font-weight: bold;
}

/* PRODUK */
.produk {
    padding: 100px 0;
    background-color: var(--primary);
    color: var(--white);
}

.produk .content h1 {
    text-align: center;
}

.produk .content .accordion {
    margin-top: 70px;
    font-size: 16px;
}

.produk .content .accordion .accordion-body img {
    width: 110px;
    height: 200;
}

.produk .content .accordion .accordion-body p {
    color: var(--black);
    text-align: justify;
}

.accordion-button::before {
    content: "";
    width: 22px;
    height: 12px;
    background-size: cover;
    background-image: url("../assets/iconCheck.svg");
    margin-right: 10px;
}

.accordion-button::after {
    background-image: url("../assets/svgPlus.svg");
    width: 30px;
    height: 30px;
    background-size: cover;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../assets/svgMin.svg");
}

/* BERITA */
.berita {
    padding: 100px 0;
}

.berita .content h1 {
    text-align: center;
}

.berita .content .row {
    margin-top: 70px;
}

.berita .content .row .card {
    padding: 10px;
    border-radius: 25px;
    border: 0;
    /* box-shadow: 1px 15px rgb(181, 190, 207); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .5s;
}

.berita .content .row .card:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
    ;
}

.berita .content .row .card-title {
    margin-top: 4px;
    font-weight: bold;
    line-height: 30px;
    font-size: 20px;
}

.berita .content .row .card-text {
    font-size: 16px;
    line-height: 30px;
    margin-top: 10px;
    min-height: 150px;
    text-align: justify;
}

/* TESTIMONI */
.testimoni {
    padding-top: 140px;
    padding-bottom: 100px;
}

.testimoni .content h1 {
    text-align: center;
    margin: auto;
}

.testimoni .content .logo {
    background-color: var(--primary);
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.testimoni .content .cards {
    padding-top: 70px;
}

.testimoni .content .card {
    border-radius: 25px !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.testimoni .content .cards .card-text {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 30px;
}

.testimoni .content .cards .name {
    margin-top: 20px;
}

.testimoni .content .cards .name h6 {
    font-weight: bold;
}

.testimoni .content .cards .name p {
    color: var(--gray);
}

/* GALERI */
.galeri .container-fluid {
    padding-left: 0;
}

.galeri .row img {
    width: 100%;
}

/* FOOTER */
footer {
    padding: 100px;
    background-color: var(--bgDarkBlue);
    color: var(--white);
    font-size: 16px;
}

footer .row .full h5 {
    margin-top: 20px;
}

footer .row .full p:not(.copy) {
    margin-top: 10px;
    text-align: justify;
    color: var(--gray);
}

footer .row .full .copy {
    margin-top: 20px;
}

footer .row .lists ul {
    margin-top: 20px;
}

footer .row .lists ul li {
    margin-bottom: 15px;
}

footer .row .lists ul a {
    color: var(--gray);
}


/* HAPUS AJA */
/* @import url("https://fonts.googleapis.com/css?family=Cabin+Condensed");

:root {
    --light: white;
}

body {
    background: black;
    height: 170px;
}

.center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.text text {
    paint-order: stroke;
    stroke: var(--light);
    stroke-width: 0.15px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-size: .5rem;
    font-family: "Cabin Condensed", sans-serif;
}

*/
